fieldset
{
    border: 3px solid red;
    margin-bottom: 30px;
    border-radius: 15px;
    padding-left: 40px;
    background-color: rgb(197, 188, 145);
}

legend
{
    background-color: cyan;
    padding: 5px;
    border-radius: 10px;
    margin-left: 50%;
    font-size: 20px;
}

